@import '~variables.scss';

section.landing {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-bottom: 50px;  

    div.col {
      
        @media(max-width: 768px) {
          flex-basis: 100%;
        }
        
        flex-basis: 50%;

        bbq-carousel {
            height: 406px;
        }

        div.welcome {
            flex: 1;
            padding: 20px 15px;

            h2 {
                font-family: $font-title;
                margin-top: 0;
            }

            p {
                //font-family: $font-accent;
                color: $color-dark;
                border-left: 10px solid $color-primary;
                padding: 20px;
                padding-right: 0;
                line-height: 1.6;

                .signature {
                  font-style: italic;
                  color: $color-secondary;
                }
            }
        }
    }

    div.col {

        div.map {
            margin-top: 20px;
            box-shadow: $shadow-light;
        }

        .map-caption {
          font-style: italic;
          color: $color-secondary;
          margin-top: 10px;
          font-size: 12px;
        }
    }

}

section.summary {
  
  @media(max-width: 768px) {
    padding-top: 0;
  }
    
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;

  div.col {
    @media(max-width: 768px) {
      flex-basis: 100%;
      margin-left: 0;
      margin-top: 15px;
    }
    
    flex-basis: calc(33% - 15px);
    margin-left: 15px;

    div.card-body {
      display: flex;
      align-items: flex-end;
      height: 250px;
      padding-left: 10px;
      padding-bottom: 10px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &.heritage {
        background-image: url('~assets/images/sullivan/ribs.jpg');
      }

      &.menu {
        background-image: url('~assets/images/trailer2.jpg');
      }

      &.contact {
        background-image: url('~assets/images/sullivan/food.jpg');
      }
    }
  }
}
