<main>
    <section class="landing">
      <div class="col">
            <div class="welcome">
                <h2>Welcome to Sullivan's Heritage Barbeque!</h2>
                <p>
                  Here at Sullivan’s Heritage Barbeque we take the time to make our Eastern North Carolina barbeque an
                  experience, not just a meal. Our meats, fresh daily, are smoked and grilled slowly using locally sourced
                  products of the highest quality. Join us for great food, a fun experience and superb service. We hope
                  that you’ll bring your families, relax at our picnic tables or take it to go. No matter what - we want you
                  to feel welcomed and a part of our family and community.<br/><br/>
                  <span class="signature">-- Robert and Darlene Sullivan</span>
                </p>
            </div>
        </div>

        <div class="col">
            <div class="map" style="padding-right: 0">
                <bbq-map></bbq-map>
            </div>
            <span class="map-caption">
                * Find us at the intersection of route 41 and route 10 –
                next to the consignment shop.
            </span>
        </div>
    </section>
    <section class="summary">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Eastern North Carolina BBQ</h4>
          </div>
          <div class="card-body heritage">
            <a routerLink="/about">
              <button class="primary">About Us</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Hungry?</h4>
          </div>
          <div class="card-body menu">
            <a routerLink="/menu">
              <button class="primary">Our Menu</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Having a Get Together?</h4>
          </div>
          <div class="card-body contact">
            <a routerLink="/contact">
              <button class="primary">Contact Us</button>
            </a>
          </div>
        </div>
      </div>
    </section>
</main>
