<header>
  <div class="info-container">
    <span class="tele">
      <div class="icon-small">
        <img src="assets/icons/contact/phone-white.svg" alt="">
      </div>
      610.750.0620
    </span>
    <span class="email">
        <div class="icon-small">
          <img src="assets/icons/contact/email-white.svg" alt="">
        </div>
      <a href="mailto:info@sullivansheritagebarbeque.com">info@sullivansheritagebarbeque.com</a>
    </span>
    <div class="hours">
      <span class="time-block">
        <div class="icon-small">
          <img src="assets/icons/contact/clock-white.svg" alt="">
        </div>
        <span class="day">Tuesday-Sunday:</span>
        <span class="time">11AM - 7PM</span>
      </span>
      <span class="time-block">
        <span class="day">Monday:</span>
        <span class="time">Closed</span>
      </span>
      <!--<span class="time-block">
        <span class="day">Sunday:</span>
        <span class="time">Closed</span>
      </span>-->
    </div>
  </div>

  <div class="logo-container">
    <a id="logo" (click)="router.navigate(['/']); navState.activeRoute = null;">
      <img src="assets/images/logo/logo-header.png" alt="Sullivan's Heritage BBQ logo">
    </a>
  </div>

  <ul class="social-networks">
    <li class="social-network">
      <a href="" class="round">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li class="social-network">
      <a href="" class="round">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li class="social-network">
      <a href="" class="round">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
  </ul>
</header>
