@import '~variables.scss';

header {
    
    @media(max-width: 768px) {
      height: auto;
    }
        
    background: $main-background;
    //background-image: $background-pattern;
    //background-attachment: fixed;
    height: $header-height;
    padding: $header-padding;
    padding-top: 10px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

        
    
    div.info-container {
        @media(max-width: 768px) {
          flex-basis: 100%;
        }
        
        flex-basis: 33%;
        text-align: left;
        height: $header-height + 10px;

        span.tele,
        span.email,
        div.hours {
            padding: 4px 0;
        }

        span.tele,
        span.email,
        span.time-block {
            display: block;
            font-family: $font-primary;
            color: $color-dark;
        }

        span.email > a {
            color: inherit;

            &:hover {
                color: $color-primary;
            }
        }

        div.hours {
            z-index: 2;

            span.time-block {
                padding-top: 1px;
                padding-bottom: 1px;
                padding-left: 40px;

                &:nth-child(1) {
                    padding: 0;
                    padding-bottom: 4px;
                    height: 22px;
                    overflow: visible;
                }

                span.day {
                }

                span.time {
                    color: $color-grey;
                    font-family: $font-accent;
                    padding-left: 2px;
                }
            }
        }
    }

    div.logo-container {
        @media(max-width: 768px) {
          flex-basis: 100%;
        }
        
        flex-basis: 33%;
        text-align:center;

        a#logo {
            margin: 0;

            &:hover {
                cursor: pointer;
            }

            img {
                height: $logo-height;
                width: $logo-width;
            }
        }
    }

    ul.social-networks {
        display: flex;
        @media screen and (max-width: 768px) {
            align-items: center; 
            justify-content: center;
        }
        
        
        @media(max-width: 768px) {
          flex-basis: 100%;
        }
        
        flex-basis: 33%;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
        height: $header-height;

        li.social-network {
            display: inline-flex;
            padding-right: $social-network-padding;

            &:nth-child(4) {
                padding-right: 0;
            }
        }
    }

}
