<main>
    <section class="menu">
        <div class="title-wrapper">
          <h1 class="page-title">Menu</h1>
        </div>

        <!-- meats -->
        <h3 class="title">Meats</h3>
        <div class="menu-row"> <!-- first row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Eastern North Carolina Pork Barbeque</span>
                    <span class="food-desc">
                      Cooked as a whole pig with our signature vinegar/herb based
                      sauce. Red sauce available to add if love a sweeter, less
                      savory flavor.<br/><br/>
                      <span class="price">$4</span> <span class="unit">quarter pound</span><br/>
                      <span class="price">$8</span> <span class="unit">half pound</span><br/>
                      <span class="price">$16</span> <span class="unit">one pound</span>
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Spare Ribs</span>
                    <span class="food-desc">
                      Try them dry, or basted in our homemade BBQ Sauce.<br/><br/>
                      <span class="price">$10.50</span> <span class="unit">half rack</span><br/>
                      <span class="price">$21</span> <span class="unit">whole rack</span>
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
        </div>
        <div class="menu-row"> <!-- second row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Beef Brisket</span>
                    <span class="food-desc">
                      Rubbed to perfection – get your napkin ready!<br/><br/>
                      <span class="price">$5.50</span> <span class="unit">quarter pound</span><br/>
                      <span class="price">$11</span> <span class="unit">half pound</span><br/>
                      <span class="price">$22</span> <span class="unit">one pound</span>
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Barbeque Chicken Quarters</span>
                    <span class="food-desc">
                      Prepare for sticky fingers – it’s got just a little kick -
                      you’ll return for more!<br/><br/>
                      <span class="price">$8</span> <span class="unit">quarter</span>
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
        </div>
        <div class="menu-row"> <!-- third row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Grilled Portabella Mushroom</span>
                    <span class="food-desc">
                      It’s a meat for our vegetarian friends! Served with grilled Onions.
                      Ask for it to be topped with Blue Cheese if you aren’t vegan.<br/><br/>
                      <span class="price">$8</span> <span class="unit">+add blue cheese for $1</span>
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Smoked Turkey</span>
                    <span class="food-desc">
                      Limited availability. You can also order a whole bird
                      with 5 days notice.<br/><br/>
                      <span class="price">$5.50</span> <span class="unit">quarter pound</span><br/>
                      <span class="price">$11</span> <span class="unit">half pound</span><br/>
                      <span class="price">$22</span> <span class="unit">one pound</span>
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
        </div>

        <!-- sandwiches -->
        <h3 class="title">Sandwiches</h3>
        <p class="section-desc">
          <span class="price">$9.50</span><br/>
          Served on a Potato Roll, Firm Roll, or Gluten Free Roll with one side.
        </p>
        <div class="menu-row"> <!-- first row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Eastern North Carolina Pork Barbeque</span>
                    <span class="food-desc">
                      Served with coleslaw to top your sandwich. We recommend a potato roll.
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Pulled Chicken</span>
                    <span class="food-desc">
                      Our signature smoked and barbequed chicken pulled, and served on your choice of roll.
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
        </div>
        <div class="menu-row"> <!-- second row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Brisket</span>
                    <span class="food-desc">
                      Delicious Slices of Brisket. We recommend a firm roll.
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Portabella Mushroom Burger</span>
                    <span class="food-desc">
                      You’re in Mushroom Country! Try our grilled Portabella with grilled
                      onions and blue cheese (on request) on your favorite roll.
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
        </div>

        <!-- sides -->
        <h3 class="title">Sides</h3>
        <p class="section-desc">
            <span class="price">$3.00</span> serving<br/>
            <span class="price">$5.50</span> pint<br/>
            <span class="price">$9.50</span> quart
        </p>
        <div class="menu-row"> <!-- first row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Hush Puppies</span>
                    <span class="food-desc">
                      A true southern treat – small (donut hole sized) fried cornmeal based
                      batter wonders.
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Caroline's Cole Slaw</span>
                    <span class="food-desc">
                      It took us forever to find a recipe that made us both
                      happy. It was mom’s friend Caroline who shared hers. Thanks Caroline!
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
        </div>
        <div class="menu-row"> <!-- second row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Mango Black Bean Salad</span>
                    <span class="food-desc">
                        Black beans, corn, sweet peppers, and mango tossed in a delicious dressing.
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Mandarin Spinach Salad</span>
                    <span class="food-desc">
                        Spinach, Mandarin oranges, green onions, celery and toasted/sugared
                        almonds in a light dressing.
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
        </div>
        <div class="menu-row"> <!-- third row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Darlene's Macaroni &amp; Cheese</span>
                    <span class="food-desc">
                        It’s the real thing – pasta shells baked in a mouth-watering extra sharp cheddar sauce.
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Baked Beans</span>
                    <span class="food-desc">
                        Sweetened with molasses and brown sugar.
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
        </div>
        <div class="menu-row"> <!-- fourth row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Homemade Applesauce</span>
                    <span class="food-desc">
                        Chunky and lightly sweetened.
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
            <div class="menu-col">
                <!-- empty column -->
            </div>
        </div>

        <!-- desserts -->
        <h3 class="title">Desserts</h3>
        <p class="section-desc">
            <span class="price">$3.25</span> serving
        </p>
        <div class="menu-row"> <!-- first row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Granny Sullivan's Banana Pudding</span>
                    <span class="food-desc">
                        A favorite time honored southern dessert featuring bananas topped
                        with vanilla wafers and vanilla pudding and covered with luscious meringue.
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Seasonal Cobbler</span>
                    <span class="food-desc">
                        Served with a scoop of local Woodside Dairy vanilla ice cream.
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
        </div>
        <div class="menu-row"> <!-- second row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Granny Burkhardt's Cheesecake</span>
                    <span class="food-desc">
                        A family birthday favorite!
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Ice Cream</span>
                    <span class="food-desc">
                      A simple scoop of local Woodside Dairy ice cream in a bowl.
                      Vanilla, Chocolate, Strawberry, plus varying seasonal specials.
                    </span>
                </div>
                <div class="col-right">

                </div>
            </div>
        </div>

        <!-- beverages -->
        <h3 class="title">Beverages</h3>
        <p class="section-desc">
          <span class="price">$2</span> bottle
        </p>
        <div class="menu-row"> <!-- first row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Iced Tea</span>
                    <span class="food-desc"></span>
                </div>
                <div class="col-right">

                </div>
            </div>
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Assorted Sodas</span>
                    <span class="food-desc">Coke, Diet Coke, 7 Up, Root Beer.</span>
                </div>
                <div class="col-right">

                </div>
            </div>
        </div>
        <div class="menu-row"> <!-- second row -->
            <div class="menu-col">
                <div class="col-left">
                    <span class="food-title">Water</span>
                    <span class="food-desc"></span>
                </div>
                <div class="col-right">

                </div>
            </div>
            <div class="menu-col">
                <!-- empty column -->
            </div>
        </div>
    </section>
</main>
