<agm-map [latitude]="lat" [longitude]="long" [zoom]="17">
  <agm-marker [latitude]="lat" [longitude]="long">
      <agm-info-window [isOpen]="true">
          <h6 style="margin: 8px 0; font-size: 1rem;">Sullivan's Heritage BBQ</h6>
          <address style="margin-bottom: 4px;">3177 Limestone Road, Cochranville, PA 19330</address>
          <a target="_blank" href="https://www.google.com/maps/dir/''/3177+Limestone+Rd,+Cochranville,+PA+19330/@39.89271,-75.9205193,18z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c64e34e86dd867:0x1265a70beb011159!2m2!1d-75.9194228!2d39.8927311">
              Directions
          </a>
      </agm-info-window>
  </agm-marker>
</agm-map>
